// Styling for character container
.container {
  width: 100%;
  max-width: 400px;
  position: relative;
}

// Styling for character of the day or hour
.header {
  text-align: center;
  font-size: 14px;
  display: inline;
  padding: 3px;
  border-radius: 10px;
  background: teal;
  color: white;
}

// Styling for image
.charImg {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  height: auto;
  width: auto;
  max-height: 180px;
  max-width: 180px;
  position: absolute;
  left: 140px;
  top: 20px;
}

// Styling for name of character
.chartitle {
  z-index: 100;
  color: white;
  position: absolute;
  background: black;
  top: 160px;
  font-size: 14px;
  left: 145px;
  border-radius: 5px;
  padding: 2px;
  width: max-content;
}

// Styling for character container to help with absolute positioning
.titlecontainer {
  position: absolute;
  text-align: left;
}

// Styling for icon for extra character info
.icon {
  position: absolute;
  top: 12px;
  left: 270px;
  opacity: 0.8;
  color: black;
}